<h1 class="dash-head activity">Activity</h1>
<div class="row activities-wrapper">
	<div class="col-md-4">
		<div id="steps" class="circle">
			<strong></strong>
		</div>
	</div>
	<div class="col-md-4">
		<div class="category-view">Weekly Total</div>
		<div id="steps-count"></div>
	</div>
	<div class="col-md-4">
		<div id="distance"></div>
	</div>
</div>