	<div class="container">
	  <h1>{{title }}</h1>
	  <p>Welcome to Humeridian</p>
  	<a href="/auth/fitbit">Login with Fitbit</a>
  </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="../js/main.js"></script>
  <script>
  	$(function() {
  		app.init();
  		console.log("Success!");
  	});
  </script>