<div id="login-container">
	<div class="container login">
		<div class="login-wrapper">
			<h1 class="humeridian">
				humeridian
			</h1>
			<h2 class="sub-header">
				Visualizing Your Health, One API at a Time.
			</h2>
			<div class="login-btn fitbit">
				<a href="/auth/fitbit">Login with FitBit</a>
			</div>
		</div>
	</div>
</div>